.btn {
    font-weight: 400;
    border: 0 solid transparent;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    padding:12px 24px;
}

.btn-primary {
    color: #fff;
    background: $gradient-teal;
    background-color: $blue;
    border-color: transparent;
    
    &.active,
    &:active,
    &:hover,
    &.open > .btn-primary.dropdown-toggle {
        color: #fff;
        background: none;
        background-color: $blue;
        border-color: transparent;
        box-shadow:$shadow-none;
    }

    &.btn.focus,
    &.btn:focus,
    &btn:hover {
        color: #fff;
        text-decoration: none;
        box-shadow:$shadow-none;
    }
}

//navy blue button

.btn-navy {
    color: #fff;
    background-color: $navy-blue;
    border-color: transparent;
    
    &.active,
    &:active,
    &:hover,
    &.open > .btn-primary.dropdown-toggle {
        color: #fff;
        background: none;
        background-color: $navy-blue;
        border-color: transparent;
        box-shadow:$shadow;
    }

    &.btn.focus,
    &.btn:focus,
    &btn:hover {
        color: #fff;
        text-decoration: none;
        box-shadow:$shadow-none;
    }
}


//navy blue button

.btn-blue {
    color: #fff;
    background-color: $blue;
    border-color: transparent;
    
    &.active,
    &:active,
    &:hover,
    &.open > .btn-primary.dropdown-toggle {
        color: #fff;
        background: none;
        background-color: $blue;
        border-color: transparent;
        box-shadow:$shadow;
    }

    &.btn.focus,
    &.btn:focus,
    &btn:hover {
        color: #fff;
        text-decoration: none;
        box-shadow:$shadow-none;
    }
}
