// variables
$blue: #469EE1;
$teal: #51E7F2;
$navy-blue:#1F3169;
$red: #E25456;
$pink: #D84190;
$light-gray: #D9E9F6;
$gray-blue: #85A7C2;
$dark-blue: #10172D;
$light-blue: #D9E9F6;
$gradient-red: linear-gradient(90deg, #E25456 0%, #D84190 100%);
$gradient-teal: linear-gradient(90deg, #51E7F2 0%, #469EE1 100%);
$shadow-none: none !important;
$shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .15) !important;
$shadow: 0 .5rem 1rem rgba(0, 0, 0, .175) !important;
$shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .35) !important;
$shadow-card: 2px 8px 20px 0 hsla(200, 1%, 47%, .25) !important;

//spacing
$space-unit:1em;
$space-xxs: $space-unit * 0.25;
$space-xs: $space-unit * 0.25;
$space-sm: $space-unit * 0.75;
$space-md: $space-unit * 1.25;
$space-lg: $space-unit * 2;
$space-xl:$space-unit * 3.25;
$space-xxl: $space-unit * 5.25;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');

@import "custom-buttons";


body {
    min-height: 1000px;
}

.container {}

//typography
body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Roboto', sans-serif;
}


main {
    padding: 0;
}

p {
    &.lead {
        font-weight: 500;
        margin-bottom: $space-lg;
    }
}

//shadow
.shadow-sm {
    box-shadow: $shadow-sm;
}

.shadow {
    box-shadow: $shadow;
}

.shadow-lg {
    box-shadow: $shadow-lg;
}


//impact bullets

%blt-shared {
    display: inline-block;
    width: $space-unit;
    height: $space-unit;
    background: $navy-blue;
    border-radius: 0 $space-unit 0 0;
    -moz-border-radius: 0 $space-unit 0 0;
    -webkit-border-radius: 0 $space-unit 0 0;
    margin-right: 0.5em;
}

.blt {
    @extend %blt-shared;
}

.blt-teal {
    background: $gradient-teal;
}

.blt-red {
    background: $gradient-red;
}

.blt-blue {
    background: $blue;
}

.blt-gray-blue {
    background: $gray-blue;
}



// custom components
.pre-nav {
    background-color: $dark-blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;

    .pre-nav__items {
        display: flex;
        justify-content: space-between;

        img.back-to-canada {
            display: inline-block;
            width: 200px;
            height: 19px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

body.wb-modal > #wb-tphp {
    z-index: 1070 !important;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1069;
}


nav.navigation-bar {
    background-color: $navy-blue;


    .navigation__items {
        display: flex;
        justify-content: space-between;

        img.logo {
            display: inline-block;
            width: 200px;
            height: 65px;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        @media (max-width:767px) {
            flex-direction: column;

            a.mobile-menu-bars {
                color: #fff;
                display: flex !important;
                align-items: center;
                cursor: pointer;
            }

            .branding {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .menu {
            display: flex;
            justify-content: space-between;

            a {
                color: #fff;
                text-decoration: none;
                display: flex;
                align-items: center;
                margin-left: 2em;
                margin-top: 1rem;
                border-bottom: 0.69rem solid transparent;
                transition: all 0.15s ease-out;

                &:hover,
                &:active,
                &.active {
                    border-bottom: 0.69rem solid $red;

                }
            }

            @media (max-width:767px) {
                display: none;
                flex-direction: column;

                a {
                    justify-content: center;
                    margin: 1.5rem auto;
                    border-bottom: 0;
                    transition: none;
                    font-size: 1.5em;
                    font-weight: bold;

                    &:hover,
                    &:active,
                    &.active {
                        border-bottom: 0;
                        color: $red;
                    }
                }

            }
        }

        .menu-mobile-visible {
            display: flex;
            justify-content: start;
            padding-top: 3em;
            height: calc(100vh - 59px);
        }

    }
}

.jumbotron {
    min-height: 50vh;
    background-color: #1C2C5B;
    background-image: url('./img/background-circles-red.svg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center 50%;
    margin-bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: $space-xl;
    padding-bottom: $space-xl;

    h1 {
        border-bottom: 0 !important;
    }

    @media(max-width:767px) {
        background-position: center;
        background-size: 160%;
        min-height: 80vh;
    }
}

section {
    &#challenges {
        padding-top: $space-xl;
        padding-bottom: $space-xl;
        background-image: url('./img/background-circles-light-blue.svg');
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
    }

    &#prevChallenges {
        background-color: $gray-blue;
    }

    &#nonChallenges {
        background-color: $light-gray;
    }

    &#ctaBox {
        background-color: #fff;
        padding: $space-md;

        %cta__shared {

            display: flex;
            justify-content: center;
            align-items: center;
            padding: $space-xl;

            p {
                font-weight: 500;
                margin: $space-lg auto;
            }

            a {
                color: #fff;
            }

            @media(max-width:767px) {
                padding: $space-md;
            }

        }

        .cta {
            @extend %cta__shared;
        }

        .cta__navy {
            background-color: $blue;
            color: $navy-blue;
        }

        .cta__pink {
            background-color: $pink;
            color: #fff;
        }


    }
}

.card {
    transition: all 0.5s ease;
    margin-bottom: $space-xl;

    .img-holder {
        height: 369px;
        background: #e5e5e5;
        overflow: hidden;

        img {
            transition: all .5s ease;
            overflow: hidden;
            object-fit: cover;
            height: 369px;
            width: 100%;

            &:hover {
                transform: scale(1.1);
            }

        }

        @media(max-width:767px) {
            height: 269px;

            img {
                height: 269px;
                width: 100%;
            }
        }
    }

    .card-body {
        padding: 2em;
        display: flex;
        background-color: #fff;

        %sts-pill-shared {
            position: absolute;
            top: 300px;
            right: 50px;
            z-index: 3;
            background: $navy-blue;
            padding: 0.5em 1.5em;
            color: $blue;
            font-weight: 500;
            border-radius: $space-md;
            box-shadow: $shadow-lg;

            @media (max-width: 767px) {
                top: 210px;
                right: 30px;
            }
        }

        .sts {
            @extend %sts-pill-shared;
        }

        .sts-open {
            background: $gradient-teal;
            color: #fff;
        }

        .sts-closed {
            background: $gradient-red;
            color: #fff;
        }

        .blt {
            height: $space-md;
            width: $space-md;
            border-radius: 0 $space-md 0 0;
            margin-right: $space-sm;
            transition: all .25s ease;
        }

        p {
            color: $red;
            margin-bottom: 0;
            font-weight: 500;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            color: $navy-blue;
            font-size: 1.6em;
            line-height: 1.25;
        }

        a {
            color: $blue;
            text-decoration: none;
        }
    }

    &:hover {
        box-shadow: $shadow-card;

        .card-body {
            .blt {
                transform: translateY(-15px) scale(1.1) rotate(-45deg);
            }
        }
    }
}

.wb-eqht {
    display: inline-block;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    .footer__left {
        background-color: $dark-blue;
        color: #fff;
        padding: $space-xl $space-lg;
        flex-grow: 1;
        width:100%;

        a {
            color: #fff;
            text-decoration: none !important;

            &:hover {
                color: #ccc;
            }
        }
    }

    .footer__right {
        background-color: $navy-blue;
        color: #fff;
        padding: $space-xl $space-lg;
        flex-grow: 1;
        width:100%;
        .circle {
            position: absolute;
            left: -100px;
            bottom: -200px;
            height: 500px;
            width: 500px;
            border-radius: 50%;
            background: $gradient-red;
            display: block;
            z-index: 0;
        }

        a {
            color: #fff;
            text-decoration: none !important;

            &:hover {
                color: #ccc;
            }
        }
    }
     @media(max-width:767px){
        flex-direction: column;
         .footer__left {
             
         }
         .footer__right {
             
         }
    }
}
