// variables
$blue: #469EE1;
$teal: #51E7F2;
$navy-blue:#1F3169;
$red: #E25456;
$pink: #D84190;
$light-gray: #D9E9F6;
$gray-blue: #85A7C2;
$dark-blue: #10172D;
$light-blue: #D9E9F6;
$gradient-red: linear-gradient(90deg, #E25456 0%, #D84190 100%);
$gradient-teal: linear-gradient(90deg, #51E7F2 0%, #469EE1 100%);
$shadow-none: none !important;
$shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .15) !important;
$shadow: 0 .5rem 1rem rgba(0, 0, 0, .175) !important;
$shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .35) !important;
$shadow-card: 2px 8px 20px 0 hsla(200, 1%, 47%, .25) !important;

//spacing
$space-unit:1em;
$space-xxs: $space-unit * 0.25;
$space-xs: $space-unit * 0.25;
$space-sm: $space-unit * 0.75;
$space-md: $space-unit * 1.25;
$space-lg: $space-unit * 2;
$space-xl:$space-unit * 3.25;
$space-xxl: $space-unit * 5.25;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');

@import "custom-buttons";


body {
    min-height: 1000px;
}

.wb-sl {
    background: $gradient-red;
    color: #fff;
    font-weight: 700;
    padding: $space-sm $space-md;
    border-radius: 4em !important;
}

.container {}

//typography
body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Roboto', sans-serif;
}


main {
    padding: 0;
    padding: 0;
}

p {
    &.lead {
        font-weight: 500;
        margin-bottom: $space-lg;
    }
}

//shadow
.shadow-sm {
    box-shadow: $shadow-sm;
}

.shadow {
    box-shadow: $shadow;
}

.shadow-lg {
    box-shadow: $shadow-lg;
}


//impact bullets

%blt-shared {
    display: inline-block;
    width: $space-unit;
    height: $space-unit;
    background: $navy-blue;
    border-radius: 0 $space-unit 0 0;
    -moz-border-radius: 0 $space-unit 0 0;
    -webkit-border-radius: 0 $space-unit 0 0;
    margin-right: 0.5em;
}

.blt {
    @extend %blt-shared;
}

.blt-teal {
    background: $gradient-teal;
}

.blt-red {
    background: $gradient-red;
}

.blt-blue {
    background: $blue;
}

.blt-gray-blue {
    background: $gray-blue;
}



// custom components
.pre-nav {
    background-color: $dark-blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    z-index: 1068;

    .pre-nav__items {
        display: flex;
        justify-content: space-between;

        img.back-to-canada {
            display: inline-block;
            width: 200px;
            height: 19px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

body.wb-modal > #wb-tphp {
    z-index: 1070 !important;
}

nav.navigation-bar {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
    z-index: 1069;
}


nav.navigation-bar {
    background-color: $navy-blue;


    .navigation__items {
        display: flex;
        justify-content: space-between;

        img.logo {
            display: inline-block;
            width: 200px;
            height: 65px;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        @media (max-width:767px) {
            flex-direction: column;

            a.mobile-menu-bars {
                color: #fff;
                display: flex !important;
                align-items: center;
                cursor: pointer;
            }

            .branding {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .menu {
            display: flex;
            justify-content: space-between;

            a {
                color: #fff;
                text-decoration: none;
                display: flex;
                align-items: center;
                margin-left: 2em;
                margin-top: 1rem;
                border-bottom: 0.69rem solid transparent;
                transition: all 0.15s ease-out;

                &:hover,
                &:active,
                &.active {
                    border-bottom: 0.69rem solid $red;

                }
            }

            @media (max-width:767px) {
                display: none;
                flex-direction: column;

                a {
                    justify-content: center;
                    margin: 1.5rem auto;
                    border-bottom: 0;
                    transition: none;
                    font-size: 1.5em;
                    font-weight: bold;

                    &:hover,
                    &:active,
                    &.active {
                        border-bottom: 0;
                        color: $red;
                    }
                }

            }
        }

        .menu-mobile-visible {
            display: flex;
            justify-content: start;
            padding-top: 3em;
            height: calc(100vh - 59px);
        }

    }
}

.jumbotron {
    position: relative;
    min-height: 50vh;
    background-color: #1C2C5B;
    //    background-image: url('./img/background-circles-red.svg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center 50%;
    margin-bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    overflow: hidden;

    h1 {
        border-bottom: 0 !important;
    }

    @media(max-width:767px) {
        background-position: -60%;
        background-size: cover;
        min-height: 60vh;
        //        background-image: url('./img/map_1.svg');

        h1 {
            line-height: 1.325;
        }

    }

    .shape {
        height: 40px;
        width: 40px;
        position: absolute;
    }

    .shape__1 {
        top: 80px;
        right: 100px;
    }

    .shape__2 {
        bottom: 40px;
        left: 69px;

    }

    .shape__3 {
        left: 120px;
        bottom: -100px;
        height: 100px;
        width: 100px;
    }

    .shape__4 {
        right: 40px;
        top: 60px;
    }
}

section {
    &#challenges {
        padding-top: $space-xl;
        padding-bottom: $space-xl;
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;

    }

    &#prevChallenges {
        background-color: $gray-blue;
    }

    &#nonChallenges {
        background-color: $light-gray;
    }

    &#ctaBox {
        background-color: #fff;
        padding: $space-md;

        %cta__shared {

            display: flex;
            justify-content: center;
            align-items: center;
            padding: $space-xl;

            h2.h1 {
                margin-top: $space-sm;
                margin-bottom: $space-sm;
            }

            p {
                font-weight: 500;
                margin: $space-lg auto;
            }

            a {
                color: #fff;
            }

            @media(max-width:767px) {
                padding: $space-md;
            }

        }

        .cta {
            @extend %cta__shared;
        }

        .cta__navy {
            background-color: $blue;
            color: $navy-blue;
        }

        .cta__pink {
            background-color: $pink;
            color: #fff;
        }


    }
}

.card {
    transition: all 0.5s ease;
    margin-bottom: $space-xl;

    .img-holder {
        height: 369px;
        background: #e5e5e5;
        overflow: hidden;

        img {
            transition: all .5s ease;
            overflow: hidden;
            object-fit: cover;
            height: 369px;
            width: 100%;

            &:hover {
                transform: scale(1.1);
            }

        }

        @media(max-width:767px) {
            height: 269px;

            img {
                height: 269px;
                width: 100%;
            }
        }
    }

    .card-body {
        padding: 2em;
        display: flex;
        background-color: #fff;

        %sts-pill-shared {
            position: absolute;
            top: 300px;
            right: 50px;
            z-index: 3;
            background: $navy-blue;
            padding: 0.5em 1.5em;
            color: $blue;
            font-weight: 500;
            border-radius: $space-md;
            box-shadow: $shadow-lg;

            @media (max-width: 767px) {
                top: 210px;
                right: 30px;
            }
        }

        .sts {
            @extend %sts-pill-shared;
        }

        .sts-open {
            background: $gradient-teal;
            color: #fff;
        }

        .sts-closed {
            background: $gradient-red;
            color: #fff;
        }

        .blt {
            height: $space-md;
            width: $space-md;
            border-radius: 0 $space-md 0 0;
            margin-right: $space-sm;
            transition: all .25s ease;
        }

        p {
            color: $red;
            margin-bottom: 0;
            font-weight: 500;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            color: $navy-blue;
            font-size: 1.6em;
            line-height: 1.25;
        }

        a {
            color: $blue;
            text-decoration: none;
        }
    }

    &:hover {
        box-shadow: $shadow-card;

        .card-body {
            .blt {
                transform: translateY(-15px) scale(1.1) rotate(-45deg);
            }
        }
    }
}

.wb-eqht {
    display: inline-block;
}

footer nav {
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        'left right';
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-gap: 0;

    .footer__left {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: left;
        background-color: $dark-blue;
        padding: $space-xl;

        @media(max-width: 767px) {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
        }
    }

    .footer__right {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: right;
        background-color: $navy-blue;
        padding: $space-xl;
        overflow: hidden;
        position: relative;

        %circle-shared {
            display: block;
            position: absolute;
            border-radius: 50%;
        }

        .circle {
            @extend %circle-shared;
        }

        .circle-red {
            left: -140px;
            bottom: -100px;
            width: 420px;
            height: 420px;
            background: $gradient-red;
            z-index: 0;
            transition: all 0.750s ease;
        }

        .circle-teal {
            left: 69px;
            bottom: 40px;
            width: 269px;
            height: 269px;
            background: $gradient-teal;
            z-index: 0;
            transition: all 1s 0.3s ease;

        }

        @media(max-width:767px) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
        }
    }

    .footer-logo {
        max-width: 169px;
        margin-bottom: $space-md;
    }

    h3 {
        margin-bottom: $space-md;
        color: #fff;
    }

    ul {
        list-style: none outside none;
        padding-left: 0;

    }

    a {
        color: #fff !important;
        text-decoration: none !important;

        &:hover {
            color: $blue !important;
        }

    }

    p.small {
        color: $gray-blue;
        margin-top: $space-lg;
    }

    @media(max-width:767px) {
        -ms-grid-columns: 2f 2fr;
        grid-template-areas:
            'right right'
            'left left';

    }

    &:hover {
        .circle-red {
            transform: scale(1.1) translateX(50px) translateY(-20px);
        }

        .circle-teal {
            transform: scale(1.3) translateX(100px) translateY(40px);
        }
    }

}
