// Jan 17, 2020 additional styles

// if logo can be updated, we need to adjust the sticky position to account for this
nav.challenge-bar {
    top: 60px;
}

h1,
h2,
h3 {
    color: $navy-blue;
}

.h1-supertitle {
    display: block;
    font-size: 2rem;
    color: $red;
    margin-bottom: 1rem;
}


p.leader {
    font-size: 2.5rem;
    font-weight: lighter;
}

h2 {
    margin-bottom: 2.5rem;

    &.with-line::before {
        content: "";
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 1rem;
        width: 80px;
        height: 3px;
        background-color: $red;
    }

}

.business-subnav {
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    background-color: white;
    padding: 1.25rem 0;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.subnav-mobile-toggler {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 0;
    z-index: 2000;

    @media (min-width:768px) {
        display: none;
    }

    a {
        color: black;
        padding-top:1rem;
        padding-bottom:1rem;
        padding-left:3rem;
    }
}


.business-logo {
    @media (max-width:767px) {}
}

ul.subnav-menu-items {
    margin: 0;
    list-style: none;
    text-align: center;

    @media (max-width:767px) {
        padding: 1.5em 0;
    }

    li {
        display: inline-block;
        margin: auto 1rem;

        @media (max-width:767px) {

            display: block;
            text-align: left;
            margin: auto 0 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            text-decoration: none;
            color: #777;
            padding: .69rem 1.5rem;
            border-radius: 24px;
            transition: all .25s ease-in-out;

            @media (max-width:767px) {
                padding: 0;
                border: none;
                box-shadow: none;
                border-radius: 0;
                display: block;
            }

            &.active {
                color: black;
                border: 1px solid rgba(0, 0, 0, .06);
                box-shadow: 0 1px 3px rgba(0, 0, 0, .16);

                @media (max-width:767px) {
                    padding: 0;
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                }
            }

            &:hover {
                background-color: #f5f5f5;

                @media (max-width:767px) {
                    background-color: transparent;
                }
            }

        }
    }

}

.business-hero {
    padding: 7em 0;
    background-color: $navy-blue;

    @media (max-width:767px) {
        padding: 2.5em 0;
    }

    h1 {
        color: white;
    }

    p {
        color: white;
    }

    a {
        color: $teal;
    }

    .logo-fellowship {
        width: 120px;
    }
}

.business-process {
    padding: 7em 0;

    .icon-search-fellow {
        width: 69px;
    }

}

.timeline-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p.day {
        color: $red;
        font-weight: 600;
        margin-bottom: 0;
    }

    .line-red {
        content: "";
        display: block;
        height: 2px;
        flex-grow: 1;
        background-color: $red;
        margin: auto 1rem;
    }

    p.step {
        color: $navy-blue;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.shadow-1 {
    box-shadow: 0 16px 24px rgba(0, 0, 0, .16)
}

.timeline-process {
    padding: 3.5em 0;
    background-color: white;


    ul.list-unstyled {
        li {
            padding-left: 3rem;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 14px;
                height: 14px;
                margin-left: -3rem;
                margin-top: 4px;
                border-radius: 20px;
                background-color: $blue;
            }
        }
    }

}

.business-benefits {
    padding: 7rem 0;
    background-color: #F8F8F8;
    border-bottom: 10px solid white;
    background-image: url(./fellowship/img/graphics/rectangle-teal.svg), url(./fellowship/img/graphics/circle-blue.svg);
    background-size: 469px, 469px;
    background-position: 96% 5%, -30% 110%;
    background-repeat: no-repeat, no-repeat;

    @media (max-width:767px) {
        background-image: none, none;
    }

    &.v2 {
        background-image: url(./fellowship/img/graphics/circle-teal.svg);
        background-size: 469px;
        background-position: -30% 50%;
        background-repeat: no-repeat;

        @media (max-width:767px) {
            background-image: none;
        }

    }

}

.business-cta {
    padding: 7rem 0;
    background-color: white;

    @media (max-width:767px) {
        padding: 1.5em 0;
    }

    .img-frame {
        position: relative;
        padding: 0;
    }

    .frame-photo {
        display: block;
        position: absolute;
        top: 10px;
        left: 25px;
        bottom: -10px;
        width: calc(100% - 25px);
        border: 3px solid $red;

        &.blue {
            border: 3px solid $blue;
        }
    }

    .padding-left {
        padding-left: 5rem;

        @media (max-width:767px) {
            padding-left: 15px;
        }
    }
}


.row-flex {
    display: flex;
    align-items: center;

    @media (max-width:767px) {
        flex-direction: column;
    }

    div[class^="col-"] {
        display: inline-block;
    }
}

.featurette-grid {
    padding: 3rem 0;
    background-color: #F8F8F8;
    border: 10px solid white;

    &.bg-navy-blue {
        background-color: $navy-blue;

        h2,
        h3,
        p,
        a {
            color: white;
        }
    }
}

.icon-title {
    width: .69em;
    height: .69em;
    margin-right: .25em;
}

.icon-1 {
    width: 69px;
    height: 69px;
}

.icon-2 {
    width: 99px;
    height: 99px;
}

.dark-cta {
    padding: 5rem 0;
    background-color: $dark-blue;
    color: white;

    h1,
    h2,
    h3 {
        color: white;
    }

    p,
    a {
        color: white;
    }

    .table {
        background-color: transparent;
        border: 0;
    }

    &.bg-navy-blue {}

    &.border-bottom {
        border-bottom: 10px solid white;
    }

    .ic-pagination {
        a {

            &.active,
            &:hover {
                color: $teal;
            }
        }
    }
}

.ic-project-filter {
    padding: 1rem 0 4rem;

    select.form-control {
        width: 100%;
        background-color: transparent;
        color: white;
    }
}

.big-step {
    font-size: 7rem;
}

.text-white {
    color: white !important;
}

.text-blue {
    color: $blue !important;
}

.text-teal {
    color: $teal !important;
}

.text-warning {
    color: #F2B01C !important;
}

.text-success {
    color: #5EC950 !important;
}

.btn-default {
    color: black !important;
}

.ic-cards-wrapper {
    a {
        display: block;
        text-decoration: none;
        transition: all .25s ease-in-out;
        margin-bottom: 4rem;

        .ic-card {
            h3 {
                color: $teal;
                font-size: 1.5rem;
                font-weight: normal;
            }

            h4 {
                font-weight: normal;
                font-size: 1.69rem;
                line-height: 1.4;
                margin-top: 1rem;
            }

            p.date {
                font-size: 1.25rem;
                color: $gray-blue;
            }
        }

        &:hover {
            opacity: .69;
        }
    }
}

.resources {
    padding: 3.5rem 0;
    background: white;

    .resource-item {
        display: flex;
        margin-bottom: 5rem;
        align-items:center;

        img {
            width: 90px;
            height: 120px;
            object-fit: cover;
            display: block;
            box-shadow: 0 4px 12px rgba(0, 0, 0, .16);
            margin-right: 2rem;
            margin-bottom: 2rem;
        }

        h2 {
            font-size: 2rem;
            color: $navy-blue;
            margin: 1rem 0;
        }

        @media (max-width:990px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
